.global-status{
    display: none;
}

.list-group-item{
    margin-top: 15px; 
    margin-bottom: 15px;
    background-color: rgb(35,35,35);
}

.list-group-item-heading{
    text-decoration: underline;
    color: white;
}

body{
    background-color: rgba(19,19,19,1);
}

#title{
    color:white;
}